<footer class="bg-dark text-light pt-5 mt-5">
    <div class="container">

        <div class="row">

            <!-- CONTACT -->
            <div class="col-md-4">
                <h5>Hotline</h5>
                <p>1900.6408</p>

                <h6>Email</h6>
                <p>support@ticketbox.vn</p>

                <h6>Địa chỉ</h6>
                <p>TP. Hồ Chí Minh</p>
            </div>

            <!-- POLICY -->
            <div class="col-md-4">
                <h5>Khách hàng</h5>
                <p>Điều khoản sử dụng</p>

                <h5>Ban tổ chức</h5>
                <p>Chính sách</p>
            </div>

            <!-- COMPANY -->
            <div class="col-md-4">
                <h5>Về chúng tôi</h5>
                <p>Quy chế hoạt động</p>
                <p>Chính sách bảo mật</p>
                <p>Thanh toán</p>
            </div>

        </div>

        <hr class="bg-light">

        <!-- BOTTOM -->
        <div class="d-flex justify-content-between align-items-center pb-3">

            <div>
                <strong>TicketEvents</strong> © 2026
            </div>

            <!-- SOCIAL -->
            <div>
                <i class="bi bi-facebook me-3"></i>
                <i class="bi bi-instagram me-3"></i>
                <i class="bi bi-youtube"></i>
            </div>

        </div>

    </div>
</footer>