{% extends 'admin/baseadmin.html' %}

{% block page_title %}Chi tiết đơn hàng{% endblock %}

{% block content %}

<div class="card shadow-sm">
    <div class="card-body">

        <h5>Thông tin đơn hàng</h5>

        <hr>

        <p><b>Mã đơn:</b> #{{ order.id }}</p>
        <p><b>Khách hàng:</b> {{ order.user.name }}</p>
        <p><b>Email:</b> {{ order.user.email }}</p>
        <p><b>Tổng tiền:</b>
            <span class="text-success fw-bold">
                {{ '{:,.0f}'.format(order.total_amount) }} VND
            </span>
        </p>

        <p><b>Trạng thái:</b> {{ order.status.value }}</p>

        <a href="{{ url_for('admin.cancel_order', order_id=order.id) }}"
           class="btn btn-danger"
           onclick="return confirm('Hủy đơn này?')">
            Hủy đơn hàng
        </a>

    </div>
</div>

{% endblock %}